<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]" data-theme={@theme || "light"}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="HungryGuide" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <.theme_selector
        class="mr-2"
        themes={[
          {"Light", "light"},
          {"Dark", "dark"},
          {"Cupcake", "cupcake"},
          {"Bumblebee", "bumblebee"},
          {"Emerald", "emerald"},
          {"Corporate", "corporate"},
          {"Synthwave", "synthwave"},
          {"Retro", "retro"},
          {"Cyberpunk", "cyberpunk"},
          {"Valentine", "valentine"},
          {"Halloween", "halloween"},
          {"Garden", "garden"},
          {"Forest", "forest"},
          {"Aqua", "aqua"},
          {"Lofi", "lofi"},
          {"Pastel", "pastel"},
          {"Fantasy", "fantasy"},
          {"Wireframe", "wireframe"},
          {"Black", "black"},
          {"Luxury", "luxury"},
          {"Dracula", "dracula"},
          {"CMYK", "cmyk"},
          {"Autumn", "autumn"},
          {"Business", "business"},
          {"Acid", "acid"},
          {"Lemonade", "lemonade"},
          {"Night", "night"},
          {"Coffee", "coffee"},
          {"Winter", "winter"},
          {"Dim", "dim"},
          {"Nord", "nord"},
          {"Sunset", "sunset"}
        ]}
      />
      <%= if @current_user do %>
        <%= if @current_user.avatar do %>
          <div class="avatar">
            <div class="w-5 rounded-full">
              <img src={@current_user.avatar} />
            </div>
          </div>
        <% end %>

        <li class="text-[0.8125rem] leading-6">
          {@current_user.name} ({@current_user.email})
        </li>
        <li>
          <.link href={~p"/users/settings"} class="text-[0.8125rem] leading-6 font-semibold">
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 font-semibold"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link href={~p"/users/register"} class="text-[0.8125rem] leading-6 font-semibold">
            Register
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_in"} class="text-[0.8125rem] leading-6 font-semibold">
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    {@inner_content}
  </body>
</html>
