/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss";
@plugin "../tailwind_heroicons.js";
@import "../css/fonts.css";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: all;
}

@variant phx-click-loading ([".phx-click-loading&", ".phx-click-loading &"]);
@variant phx-submit-loading ([".phx-submit-loading&", ".phx-submit-loading &"]);
@variant phx-change-loading ([".phx-change-loading&", ".phx-change-loading &"]);



@theme {
  --color-taupe: #ede7e4;
  --color-wafer-pink: #e2d4c9;
  --color-sage: #d0d3ac;
  --color-dark-sage: #9fa06c;
  --color-cloud: #c1ccc3;
  --color-rust: #ab6b47;
  --color-dark-blue: #3a4151;
  /* Button Text on Dark Blue */
  --color-light-green: #ECF2CB;

  /* just add poppins on the front of the tailwind default */
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* and aleo in front of the serif defaults */
  --font-serif: "Aleo", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

